* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

.btn-primary {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background-color: #9873FF;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #B89EFF;
}

.btn-primary:focus {
    background-color: #B89EFF;
}

.btn-primary:disabled {
    color: #FFFFFF;
    background-color: #C8C5D1;
}

.btn-secondary {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    background-color: transparent;
    color: #9873FF;
    border: 1px solid #9873FF;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #B89EFF;
    color: #FFFFFF;
}

.btn-secondary:focus {
    color: #FFFFFF;
    background-color: #B89EFF;
}

.btn-secondary:disabled {
    color: #C8C5D1;
    border: #C8C5D1 1px solid;
}

/*                                   HEADER                      */

.header__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header {
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
    padding: 20px 0;
    background-color: #FFFFFF;
}

.header__icon {
    background-color: #9873FF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-right: 53px;
}

.header__search {
    padding: 12px 16px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    width: 100%;
    max-width: 541px;
}

.header__search::placeholder {
    color: #B0B0B0;;
}

/*                                   CLIENTS                      */

.clients__container {
    padding-bottom: 50px;
}

.clients {
    padding: 40px 0 0;
}

.clients__titile {
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

.clients__table {
}

.table {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 40px;
    border-collapse: collapse;
}

.table__head {
    background-color: transparent;
}

.table__tr_head {
}

.table__th {
    padding: 8px 0;
    font-weight: 400;
    font-size: 12px;
    color: #B0B0B0;
    text-align: start;
}

.table__th:first-child {
    padding-left: 20px;
}

.table__arrow.arrow-up  {
    transform: rotate(-180deg);
}

.table-body__item {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    padding: 20px 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #C8C5D1;
}

.table-body__item:first-child {
    padding-left: 20px;
}

.table-body__item:last-child {
    padding-right: 20px;
}

.table-body__contacts {
    max-width: 116px;
    display: flex;
    flex-wrap: wrap;
}

.table-body__contact {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity .3s ease;
    position: relative;
}

.tooltip {
    position: absolute;
    bottom: 24px;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    padding: 7px 14px;
    transform: translateX(-50%);
    background-color: #333333;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
    transition: opacity .3s ease, visibility .3s ease;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    /* width: 12px;
    height: 6px; */
    border: 5px solid;
    border-color: #333333 transparent transparent transparent;

}

.tooltip__contact-link {
    color: #B89EFF !important;
    text-decoration: underline;
}

.table-body__contact:hover {
    opacity: 1;
}

.table-body__contact:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.contact-vk {
    background-image: url(./img/vk.svg);
}

.contact-fb {
    background-image: url(./img/fb.svg);
}

.contact-tel {
    background-image: url(./img/phone.svg);
}

.contact-email {
    background-image: url(./img/mail.svg);
}

.plus-n-icon {
    border-radius: 50%;
    border: 1px #9873FF solid;
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.table-body-id {
    font-size: 12px;
    color: #B0B0B0;
}

.table-body__item span {
    color: #B0B0B0;
}

.table-body__actions {
    display: flex;
    justify-content: space-between;
}

.table-body__btn {
    background-color: transparent;
    border: none;
    padding: 6.5px 0 ;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    cursor: pointer;
    transition: color .2s ease;
}

.change-btn:hover {
    color: #9873FF;
}

.delete-btn:hover {
    color: #F06A4D;
}

.change-btn__svg {
    margin-right: 3px;
}

.spinner {
    display: none;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/*              Добавить клиента (кнопка)        */

.add-client-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-client-btn {
    padding: 14px 26px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.add-client-btn svg path {
    transition: fill 0.3s ease;
}

.add-client-btn:hover svg path {
    fill: #FFFFFF;
}

.add-client-btn:focus svg path {
    fill: #FFFFFF;
}


/*                      POPUP  (change client data)           */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #050101a2;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;
}

.popup.open {
    visibility: visible;
    opacity: 1;
}

.popup__body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 0 10px;
}

.popup__content {
    background-color: #FFFFFF;
    width: 450px;
    transform: translateY(-100%);
    transition: transform .3s ease;
    padding: 25px 0;
}

.popup.open .popup__content {
    transform: translateY(0%);
}

.popup-container {
    padding: 0 30px;
}

.popup__title-section {
    position: relative;
    padding: 0px 30px 0;
}

.popup__close {
    position: absolute;
    top: -3px;
    right: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.popup__title-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

.popup__title {
    margin-right: 9px;
    font-weight: 700;
    font-size: 18px;
}

.popup__id {
    font-weight: 400;
    font-size: 12px;
    color: #B0B0B0;
}

.popup__form {
}
.change-data-form {
}

.new-client-form__FIO-wrapper {
    margin-bottom: 25px;
}

.change-data-form__FIO-wrapper {
    margin-bottom: 25px;    
}

.change-data-form__descr {
    font-weight: 400;
    font-size: 10px;
    color: #B0B0B0;
}

.change-data-form__descr span {
    color: #9873FF;
}

.change-data-form__input {
    border: none;
    border-bottom: #C8C5D1 1px solid;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    margin-bottom: 15px;
}

.change-data-form__input:last-child {
    margin-bottom: 0;
}

.popup__contacts {
}

.contacts-section {
    background-color: rgba(200, 197, 209, 0.2);
    margin-bottom: 25px;
}

.with-paddings {
    padding-top: 25px;
    padding-bottom: 25px;
}

.contacts-section__contact {
    display: flex;
    margin-bottom: 15px;
}

.contact__select {
    width: 123px;
    height: 37px;
    background-color: #E7E5EB;
    border: 1px solid #C8C5D1;
    border-right: none;
    padding:  0 0 0 12px;
}

.contact__input {
    height: 37px;
    border: 1px solid #C8C5D1;
    background-color: transparent;
    border-right: none;
    padding-left: 12px;
    flex-grow: 1;
}

.contact__clear-btn {
    background-color: #E7E5EB;
    border: 1px solid #C8C5D1;
    width: 27px;
    height: 37px;
    background-image: url(./img/delete-contact.svg);
    background-repeat: no-repeat;
    background-position: 54% center;
    transition: border-color 0.2s ease, background-image 0.2s ease ;
}

.contact__clear-btn:hover {
    border-color: #F06A4D;
    background-image: url(./img/delete-contact-hover.svg);
}

.contacts-section__add-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-section__add-btn {
    border: none;
    background-color: transparent;
    background-image: url(./img/add-contact.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 8px 0 8px 19px;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

.popup-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-buttons__error {
    color: #F06A4D;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 9px;
    max-width: 255px;
    text-align: center;
    display: none;
}

.popup-buttons__save-btn {
    padding: 13px 35px;
    border: none;
    margin-bottom: 5px;
    display: inline-block;
    cursor: pointer;
}

.popup-buttons__cancel-btn {
    text-decoration-line: underline;
    color: #333333;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*                      POPUP  (new client data)           */

.new-client-popup {
}

/*                      POPUP  (delete client)           */

.delete-client-popup-content {
    padding: 25px 87px;
}

.delete-client-popup-close {
    top: 24px;
}

.popup__header {
    text-align: center;
    color: #333333;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 11px;
}

.popup__descr {
    text-align: center;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 25px;
}